body{
    margin: 20px;
    background-color: lemonchiffon;
}
input{
    background-color: burlywood;
}
textarea{
    background-color: burlywood;
}
#result{
    background-color: lightyellow;
    color: springgreen;
}
.message{
    display: none;
    color: #ff9a10;
}
.btn{
    text-align: right;
    margin-left: 60px;
}